@charset "UTF-8";
body {
    background-image: url("../images/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
}

#login {
    margin: 0 auto;
}

#errorField {
    width: 500px;
    /* background-color: black; */
    margin: 0 auto;
}

.buttons {
    /* width: 500px; */
    margin: 0 auto;
}