<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Your Calendar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> {% load static %}
    <link rel='stylesheet' href="{% static 'fullcalendar-3.7.0/fullcalendar.css' %}" />
    <script src="{% static 'fullcalendar-3.7.0/lib/jquery.min.js' %}"></script>
    <script src="{% static 'fullcalendar-3.7.0/lib/moment.min.js' %}"></script>
    <script src="{% static 'fullcalendar-3.7.0/fullcalendar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <script src="{% static 'js/calendar.js' %}"></script>
</head>

<body>
    <!-- <h3 id="title">This is your homepage</h3> -->
    {% include 'sidebar.html' %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">
            <img src="{% static 'images/calendar-icon-green.png' %}" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link">Your Calendar</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <button id="testbutton" onclick="testAdd();">Test add event</button> -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button> -->
    <div id='calendar'>

    </div>
    <!-- Modal For adding the task -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add A Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="taskTitle" class="col-form-label font-weight-bold">Task Title:<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="taskTitle" name="taskTitle">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" id="allDay" name="allDay" onchange="disableTime();">
                                  All Day/Long Range Event
                                </label>
                        </div>
                        <div class="form-group">
                            <label for="startDate" class="col-form-label font-weight-bold">Start Date:<span style="color:red">*</span></label>
                            <input type="date" class="form-control" id="startDate" name="startDate">
                        </div>
                        <div class="form-group">
                            <label for="startTime" class="col-form-label font-weight-bold">Start Time:<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="startTime" name="startTime" placeholder="14:30:00">
                        </div>
                        <div class="form-group">
                            <label for="endDate" class="col-form-label font-weight-bold">End Date:<span style="color:red">*</span></label>
                            <input type="date" class="form-control" id="endDate" name="endDate">
                        </div>
                        <div class="form-group">
                            <label for="endTime" class="col-form-label font-weight-bold">End Time:<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="endTime" name="endTime" placeholder="16:30:00">
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-form-label font-weight-bold">Description:</label>
                            <textarea type="text" class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-form-label font-weight-bold">Location:</label>
                            <input type="text" class="form-control" id="location" name="location">
                        </div>
                        <label class="col-form-label font-weight-bold">Importance Of Your Task</label><br>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="color" id="color1" value="red" checked>
                                  Important
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="color" id="color2" value="yellow">
                                  Normal
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="color" id="color3" value="green">
                                  Flexible
                                </label>
                        </div>
                        <div id="errorField"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-success" onclick="addTask();">Add Your Task</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal For updating and deleting the task -->
    <div class="modal fade" id="updateDeleteModal" tabindex="-1" role="dialog" aria-labelledby="updateDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateDeleteModalLabel">Update/Delete A Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label for="taskTitle" class="col-form-label font-weight-bold">Task Title:<span style="color:red">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="taskTitleU" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary" id="taskTitleUB" type="button">Edit</button>
                          </span>
                    </div>
                    <div class="form-check" style="margin-top: 1.5vh">
                        <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" id="allDayU">
                                      All Day/Long Range Event
                                    </label>
                    </div>
                    <div class="input-group">
                        <label for="taskTitle" class="col-form-label font-weight-bold">Start Date:<span style="color:red">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="startDateU" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary" id="startDateUB" type="button">Edit</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label for="taskTitle" class="col-form-label font-weight-bold">Start Time:<span style="color:red">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="startTimeU" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary" id="startTimeUB" type="button">Edit</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label class="col-form-label font-weight-bold">End Date:<span style="color:red">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="endDateU" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary" id="endDateUB" type="button">Edit</button>
                        </span>
                    </div>
                    <div class="input-group">
                        <label class="col-form-label font-weight-bold">End Time:<span style="color:red">*</span></label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="endTimeU" readonly>
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary" id="endTimeUB" type="button">Edit</button>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="descriptionU" class="font-weight-bold">Description:</label>
                        <textarea class="form-control" id="descriptionU" name="descriptionU" readonly></textarea>
                        <button class="btn btn-outline-primary col-2" id="descriptionUB" type="button">Edit</button>
                    </div>
                    <div class="input-group">
                        <label class="col-form-label font-weight-bold">Location:</label>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" id="locationU" readonly>
                        <span class="input-group-btn">
                                <button class="btn btn-outline-primary" id="locationUB" type="button">Edit</button>
                            </span>
                    </div>
                    <label class="col-form-label font-weight-bold">Importance Of Your Task:</label><br>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="colorU" id="colorU1" value="red">
                            Important
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="colorU" id="colorU2" value="yellow">
                            Normal
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="colorU" id="colorU3" value="green">
                            Flexible
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="deleteTask();">Delete Your Task</button>
                    <button type="button" class="btn btn-outline-success">Update Your Task</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>